USE [ShopSiloApp]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/8/2025 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 3/8/2025 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[AddressLine1] [nvarchar](255) NULL,
	[AddressLine2] [nvarchar](255) NULL,
	[City] [nvarchar](50) NULL,
	[State] [nvarchar](50) NULL,
	[PostalCode] [nvarchar](20) NULL,
	[Country] [nvarchar](50) NULL,
	[IsBillingAddress] [bit] NOT NULL,
	[IsShippingAddress] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CustomerID] [int] NOT NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 3/8/2025 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Action] [nvarchar](max) NULL,
	[Timestamp] [datetime] NOT NULL,
 CONSTRAINT [PK_AuditLogs] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 3/8/2025 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[CartItemID] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[CartID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
 CONSTRAINT [PK_CartItems] PRIMARY KEY CLUSTERED 
(
	[CartItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 3/8/2025 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NULL,
	[Icon] [nvarchar](100) NULL,
	[ParentCategoryId] [int] NULL,
	[Status] [nvarchar](max) NOT NULL,
	[CreatedAt] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ColorVariations]    Script Date: 3/8/2025 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ColorVariations](
	[ColorVariationID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[ColorName] [nvarchar](50) NOT NULL,
	[ImageURL] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_ColorVariations] PRIMARY KEY CLUSTERED 
(
	[ColorVariationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerDetails]    Script Date: 3/8/2025 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerDetails](
	[CustomerID] [int] NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_CustomerDetails] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discounts]    Script Date: 3/8/2025 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discounts](
	[DiscountID] [int] IDENTITY(1,1) NOT NULL,
	[DiscountCode] [nvarchar](50) NULL,
	[Description] [nvarchar](255) NULL,
	[DiscountPercentage] [decimal](18, 2) NOT NULL,
	[ExpiryDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[MinimumPurchaseAmount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Discounts] PRIMARY KEY CLUSTERED 
(
	[DiscountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventories]    Script Date: 3/8/2025 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventories](
	[InventoryID] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[LastUpdatedDate] [datetime] NOT NULL,
	[ProductID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Inventories] PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 3/8/2025 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 3/8/2025 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[OrderStatus] [nvarchar](max) NOT NULL,
	[UserID] [int] NOT NULL,
	[SellerID] [int] NOT NULL,
	[ShippingAddressID] [int] NOT NULL,
	[BillingAddressID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[DiscountID] [int] NULL,
	[TrackingNumber] [nvarchar](100) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 3/8/2025 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RazorpayPaymentId] [nvarchar](255) NOT NULL,
	[RazorpayOrderId] [nvarchar](255) NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentStatus] [nvarchar](50) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[OrderID] [int] NOT NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductReviews]    Script Date: 3/8/2025 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductReviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[Rating] [int] NOT NULL,
	[ReviewText] [nvarchar](max) NULL,
	[ReviewDate] [datetime] NOT NULL,
	[ProductID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_ProductReviews] PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 3/8/2025 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[ImageURL] [nvarchar](255) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastUpdatedDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[SellerID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[DiscountedPrice] [decimal](18, 2) NULL,
	[FlashSaleStart] [datetime] NULL,
	[FlashSaleEnd] [datetime] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesData]    Script Date: 3/8/2025 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesData](
	[SalesDataID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_SalesData] PRIMARY KEY CLUSTERED 
(
	[SalesDataID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SellerDashboards]    Script Date: 3/8/2025 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellerDashboards](
	[DashboardID] [int] NOT NULL,
	[TotalSales] [decimal](18, 2) NOT NULL,
	[TotalOrders] [int] NOT NULL,
	[TotalProducts] [int] NOT NULL,
	[TotalRevenue] [decimal](18, 2) NOT NULL,
	[LastLogin] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_SellerDashboards] PRIMARY KEY CLUSTERED 
(
	[DashboardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sellers]    Script Date: 3/8/2025 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sellers](
	[SellerID] [int] NOT NULL,
	[CompanyName] [nvarchar](100) NULL,
	[ContactPerson] [nvarchar](50) NULL,
	[ContactNumber] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[StoreDescription] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Sellers] PRIMARY KEY CLUSTERED 
(
	[SellerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShippingDetails]    Script Date: 3/8/2025 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShippingDetails](
	[ShippingID] [int] IDENTITY(1,1) NOT NULL,
	[ShippingMethod] [nvarchar](50) NOT NULL,
	[TrackingNumber] [nvarchar](100) NOT NULL,
	[ShippingStatus] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[OrderID] [int] NOT NULL,
 CONSTRAINT [PK_ShippingDetails] PRIMARY KEY CLUSTERED 
(
	[ShippingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoppingCarts]    Script Date: 3/8/2025 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingCarts](
	[CartID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_ShoppingCarts] PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubscribedUsers]    Script Date: 3/8/2025 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubscribedUsers](
	[SubscribedUserID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SubscribedUsers] PRIMARY KEY CLUSTERED 
(
	[SubscribedUserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDiscounts]    Script Date: 3/8/2025 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDiscounts](
	[UserDiscountID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[DiscountCode] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[AppliedAt] [date] NOT NULL,
 CONSTRAINT [PK_UserDiscounts] PRIMARY KEY CLUSTERED 
(
	[UserDiscountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/8/2025 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastLogin] [datetime] NULL,
	[ResetToken] [nvarchar](100) NULL,
	[TokenExpiration] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WishlistItems]    Script Date: 3/8/2025 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WishlistItems](
	[WishlistItemID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[WishlistID] [int] NULL,
 CONSTRAINT [PK_WishlistItems] PRIMARY KEY CLUSTERED 
(
	[WishlistItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlists]    Script Date: 3/8/2025 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlists](
	[WishListID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_Wishlists] PRIMARY KEY CLUSTERED 
(
	[WishListID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241004142124_ShopSiloDB Initialize', N'8.0.8')
GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([AddressID], [AddressLine1], [AddressLine2], [City], [State], [PostalCode], [Country], [IsBillingAddress], [IsShippingAddress], [IsActive], [CustomerID]) VALUES (1, N'1, Neelankarai', N'Near Beach', N'Chennai', N'Tamil Nadu', N'600041', N'India', 1, 1, 1, 1)
INSERT [dbo].[Address] ([AddressID], [AddressLine1], [AddressLine2], [City], [State], [PostalCode], [Country], [IsBillingAddress], [IsShippingAddress], [IsActive], [CustomerID]) VALUES (2, N'2, T. Nagar', N'Opposite to Kasi Theatre', N'Chennai', N'Tamil Nadu', N'600017', N'India', 1, 0, 1, 2)
INSERT [dbo].[Address] ([AddressID], [AddressLine1], [AddressLine2], [City], [State], [PostalCode], [Country], [IsBillingAddress], [IsShippingAddress], [IsActive], [CustomerID]) VALUES (3, N'3, Anna Nagar', N'Near Anna Nagar Tower Park', N'Chennai', N'Tamil Nadu', N'600040', N'India', 0, 1, 1, 3)
SET IDENTITY_INSERT [dbo].[Address] OFF
GO
SET IDENTITY_INSERT [dbo].[AuditLogs] ON 

INSERT [dbo].[AuditLogs] ([LogId], [UserId], [Action], [Timestamp]) VALUES (1, 1, N'Created a new order', CAST(N'2024-09-01T10:00:00.000' AS DateTime))
INSERT [dbo].[AuditLogs] ([LogId], [UserId], [Action], [Timestamp]) VALUES (2, 2, N'Updated product details', CAST(N'2024-09-01T11:15:00.000' AS DateTime))
INSERT [dbo].[AuditLogs] ([LogId], [UserId], [Action], [Timestamp]) VALUES (3, 3, N'Deleted a discount code', CAST(N'2024-09-01T12:30:00.000' AS DateTime))
INSERT [dbo].[AuditLogs] ([LogId], [UserId], [Action], [Timestamp]) VALUES (34, 23, N'Updated Product stock quantity for Men\''s Winter Coat.', CAST(N'2024-10-05T05:53:19.340' AS DateTime))
INSERT [dbo].[AuditLogs] ([LogId], [UserId], [Action], [Timestamp]) VALUES (36, 23, N'Updated Product stock quantity for Men\''s Winter Coat.', CAST(N'2024-10-05T05:55:48.740' AS DateTime))
INSERT [dbo].[AuditLogs] ([LogId], [UserId], [Action], [Timestamp]) VALUES (39, 51, N'Failed to create payment and order: A second operation was started on this context instance before a previous operation completed. This is usually caused by different threads concurrently using the same instance of DbContext. For more information on how to avoid threading issues with DbContext, see https://go.microsoft.com/fwlink/?linkid=2097913., StackTrace:    at Microsoft.EntityFrameworkCore.Infrastructure.Internal.ConcurrencyDetector.EnterCriticalSection()
   at Microsoft.EntityFrameworkCore.ChangeTracking.Internal.StateManager.SaveChangesAsync(IList`1 entriesToSave, CancellationToken cancellationToken)
   at Microsoft.EntityFrameworkCore.ChangeTracking.Internal.StateManager.SaveChangesAsync(StateManager stateManager, Boolean acceptAllChangesOnSuccess, CancellationToken cancellationToken)
   at Microsoft.EntityFrameworkCore.SqlServer.Storage.Internal.SqlServerExecutionStrategy.ExecuteAsync[TState,TResult](TState state, Func`4 operation, Func`4 verifySucceeded, CancellationToken cancellationToken)
   at Microsoft.EntityFrameworkCore.DbContext.SaveChangesAsync(Boolean acceptAllChangesOnSuccess, CancellationToken cancellationToken)
   at Microsoft.EntityFrameworkCore.DbContext.SaveChangesAsync(Boolean acceptAllChangesOnSuccess, CancellationToken cancellationToken)
   at PaymentRepository.SavePaymentAndCreateOrderAsync(PaymentTransaction transaction, Order order) in D:\HEXA-SEGUE 201 - .NET FSD\FullStackSHOPSILO\ShopSiloAppFSD\ShopSiloAppFSD.Server\Repository\PaymentRepository.cs:line 91', CAST(N'2024-10-05T11:31:08.447' AS DateTime))
INSERT [dbo].[AuditLogs] ([LogId], [UserId], [Action], [Timestamp]) VALUES (40, 51, N'Failed to create payment and order: A second operation was started on this context instance before a previous operation completed. This is usually caused by different threads concurrently using the same instance of DbContext. For more information on how to avoid threading issues with DbContext, see https://go.microsoft.com/fwlink/?linkid=2097913., StackTrace:    at Microsoft.EntityFrameworkCore.Infrastructure.Internal.ConcurrencyDetector.EnterCriticalSection()
   at Microsoft.EntityFrameworkCore.ChangeTracking.Internal.StateManager.SaveChangesAsync(IList`1 entriesToSave, CancellationToken cancellationToken)
   at Microsoft.EntityFrameworkCore.ChangeTracking.Internal.StateManager.SaveChangesAsync(StateManager stateManager, Boolean acceptAllChangesOnSuccess, CancellationToken cancellationToken)
   at Microsoft.EntityFrameworkCore.SqlServer.Storage.Internal.SqlServerExecutionStrategy.ExecuteAsync[TState,TResult](TState state, Func`4 operation, Func`4 verifySucceeded, CancellationToken cancellationToken)
   at Microsoft.EntityFrameworkCore.DbContext.SaveChangesAsync(Boolean acceptAllChangesOnSuccess, CancellationToken cancellationToken)
   at Microsoft.EntityFrameworkCore.DbContext.SaveChangesAsync(Boolean acceptAllChangesOnSuccess, CancellationToken cancellationToken)
   at PaymentRepository.SavePaymentAndCreateOrderAsync(PaymentTransaction transaction, Order order) in D:\HEXA-SEGUE 201 - .NET FSD\FullStackSHOPSILO\ShopSiloAppFSD\ShopSiloAppFSD.Server\Repository\PaymentRepository.cs:line 91', CAST(N'2024-10-05T11:34:04.483' AS DateTime))
INSERT [dbo].[AuditLogs] ([LogId], [UserId], [Action], [Timestamp]) VALUES (43, 51, N'Failed to create payment and order: A second operation was started on this context instance before a previous operation completed. This is usually caused by different threads concurrently using the same instance of DbContext. For more information on how to avoid threading issues with DbContext, see https://go.microsoft.com/fwlink/?linkid=2097913., StackTrace:    at Microsoft.EntityFrameworkCore.Infrastructure.Internal.ConcurrencyDetector.EnterCriticalSection()
   at Microsoft.EntityFrameworkCore.ChangeTracking.Internal.StateManager.SaveChangesAsync(IList`1 entriesToSave, CancellationToken cancellationToken)
   at Microsoft.EntityFrameworkCore.ChangeTracking.Internal.StateManager.SaveChangesAsync(StateManager stateManager, Boolean acceptAllChangesOnSuccess, CancellationToken cancellationToken)
   at Microsoft.EntityFrameworkCore.SqlServer.Storage.Internal.SqlServerExecutionStrategy.ExecuteAsync[TState,TResult](TState state, Func`4 operation, Func`4 verifySucceeded, CancellationToken cancellationToken)
   at Microsoft.EntityFrameworkCore.DbContext.SaveChangesAsync(Boolean acceptAllChangesOnSuccess, CancellationToken cancellationToken)
   at Microsoft.EntityFrameworkCore.DbContext.SaveChangesAsync(Boolean acceptAllChangesOnSuccess, CancellationToken cancellationToken)
   at PaymentRepository.SavePaymentAndCreateOrderAsync(PaymentTransaction transaction, Order order)', CAST(N'2024-10-05T12:06:45.347' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[AuditLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[CartItems] ON 

INSERT [dbo].[CartItems] ([CartItemID], [Quantity], [Price], [CartID], [ProductID]) VALUES (12, 1, CAST(13499.99 AS Decimal(18, 2)), 1, 5)
INSERT [dbo].[CartItems] ([CartItemID], [Quantity], [Price], [CartID], [ProductID]) VALUES (67, 1, CAST(16299.99 AS Decimal(18, 2)), 1, 9)
SET IDENTITY_INSERT [dbo].[CartItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Icon], [ParentCategoryId], [Status], [CreatedAt], [IsActive]) VALUES (1, N'Electronics', N'PiDevicesFill', NULL, N'Approved', CAST(N'2024-10-04' AS Date), 1)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Icon], [ParentCategoryId], [Status], [CreatedAt], [IsActive]) VALUES (2, N'Fashion', N'FaTshirt', NULL, N'Approved', CAST(N'2024-10-04' AS Date), 1)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Icon], [ParentCategoryId], [Status], [CreatedAt], [IsActive]) VALUES (3, N'Home & Furniture', N'GiSofa', NULL, N'Approved', CAST(N'2024-10-04' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
INSERT [dbo].[CustomerDetails] ([CustomerID], [FirstName], [LastName], [PhoneNumber], [IsActive]) VALUES (1, N'Arjun', N'Reddy', N'9876543210', 1)
INSERT [dbo].[CustomerDetails] ([CustomerID], [FirstName], [LastName], [PhoneNumber], [IsActive]) VALUES (2, N'Sneha', N'Iyer', N'9876543211', 1)
INSERT [dbo].[CustomerDetails] ([CustomerID], [FirstName], [LastName], [PhoneNumber], [IsActive]) VALUES (3, N'Karthik', N'Krishnan', N'9876543212', 1)
GO
SET IDENTITY_INSERT [dbo].[Discounts] ON 

INSERT [dbo].[Discounts] ([DiscountID], [DiscountCode], [Description], [DiscountPercentage], [ExpiryDate], [IsActive], [MinimumPurchaseAmount]) VALUES (1, N'SUMMER2024', N'Summer Sale Discount', CAST(0.10 AS Decimal(18, 2)), CAST(N'2024-12-31T00:00:00.000' AS DateTime), 1, CAST(50.00 AS Decimal(18, 2)))
INSERT [dbo].[Discounts] ([DiscountID], [DiscountCode], [Description], [DiscountPercentage], [ExpiryDate], [IsActive], [MinimumPurchaseAmount]) VALUES (2, N'WINTER2024', N'Winter Sale Discount', CAST(0.15 AS Decimal(18, 2)), CAST(N'2024-11-30T00:00:00.000' AS DateTime), 1, CAST(75.00 AS Decimal(18, 2)))
INSERT [dbo].[Discounts] ([DiscountID], [DiscountCode], [Description], [DiscountPercentage], [ExpiryDate], [IsActive], [MinimumPurchaseAmount]) VALUES (3, N'FALL2024', N'Fall Clearance Discount', CAST(0.20 AS Decimal(18, 2)), CAST(N'2024-11-30T00:00:00.000' AS DateTime), 1, CAST(100.00 AS Decimal(18, 2)))
INSERT [dbo].[Discounts] ([DiscountID], [DiscountCode], [Description], [DiscountPercentage], [ExpiryDate], [IsActive], [MinimumPurchaseAmount]) VALUES (12, N'MOTHERSDAY', N'Mother\''s Day Discount', CAST(0.15 AS Decimal(18, 2)), CAST(N'2024-05-12T00:00:00.000' AS DateTime), 1, CAST(90.00 AS Decimal(18, 2)))
INSERT [dbo].[Discounts] ([DiscountID], [DiscountCode], [Description], [DiscountPercentage], [ExpiryDate], [IsActive], [MinimumPurchaseAmount]) VALUES (13, N'FATHERSDAY', N'Father\''s Day Discount', CAST(0.12 AS Decimal(18, 2)), CAST(N'2024-06-16T00:00:00.000' AS DateTime), 1, CAST(80.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Discounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Inventories] ON 

INSERT [dbo].[Inventories] ([InventoryID], [Quantity], [LastUpdatedDate], [ProductID], [IsActive]) VALUES (1, 100, CAST(N'2024-09-01T00:00:00.000' AS DateTime), 30, 1)
INSERT [dbo].[Inventories] ([InventoryID], [Quantity], [LastUpdatedDate], [ProductID], [IsActive]) VALUES (2, 50, CAST(N'2024-09-02T00:00:00.000' AS DateTime), 2, 1)
INSERT [dbo].[Inventories] ([InventoryID], [Quantity], [LastUpdatedDate], [ProductID], [IsActive]) VALUES (3, 75, CAST(N'2024-09-03T00:00:00.000' AS DateTime), 3, 1)
SET IDENTITY_INSERT [dbo].[Inventories] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([OrderItemID], [Quantity], [Price], [OrderID], [ProductID]) VALUES (1, 2, CAST(27699.99 AS Decimal(18, 2)), 21, 3)
INSERT [dbo].[OrderItems] ([OrderItemID], [Quantity], [Price], [OrderID], [ProductID]) VALUES (2, 1, CAST(13499.99 AS Decimal(18, 2)), 23, 5)
INSERT [dbo].[OrderItems] ([OrderItemID], [Quantity], [Price], [OrderID], [ProductID]) VALUES (3, 3, CAST(27699.99 AS Decimal(18, 2)), 24, 3)
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [OrderDate], [TotalAmount], [OrderStatus], [UserID], [SellerID], [ShippingAddressID], [BillingAddressID], [IsActive], [DiscountID], [TrackingNumber]) VALUES (20, CAST(N'2024-09-01T00:00:00.000' AS DateTime), CAST(55399.98 AS Decimal(18, 2)), N'Pending', 1, 21, 1, 1, 1, NULL, N'TN1234567890')
INSERT [dbo].[Orders] ([OrderID], [OrderDate], [TotalAmount], [OrderStatus], [UserID], [SellerID], [ShippingAddressID], [BillingAddressID], [IsActive], [DiscountID], [TrackingNumber]) VALUES (21, CAST(N'2024-09-02T00:00:00.000' AS DateTime), CAST(184649.97 AS Decimal(18, 2)), N'Delivered', 2, 22, 2, 2, 1, NULL, N'TN2234567890')
INSERT [dbo].[Orders] ([OrderID], [OrderDate], [TotalAmount], [OrderStatus], [UserID], [SellerID], [ShippingAddressID], [BillingAddressID], [IsActive], [DiscountID], [TrackingNumber]) VALUES (22, CAST(N'2024-09-03T00:00:00.000' AS DateTime), CAST(739.99 AS Decimal(18, 2)), N'Shipped', 3, 23, 3, 3, 1, NULL, N'TN3234567890')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([TransactionId], [UserId], [RazorpayPaymentId], [RazorpayOrderId], [Amount], [PaymentStatus], [Timestamp], [IsActive], [OrderID]) VALUES (3, 51, N'pay_P5Gebm4c9hgOOU', N'order_P5GeF3ZwcgGny0', CAST(12549.99 AS Decimal(10, 2)), N'Success', CAST(N'2024-10-05T07:05:33.4548168' AS DateTime2), 1, 51)
INSERT [dbo].[Payments] ([TransactionId], [UserId], [RazorpayPaymentId], [RazorpayOrderId], [Amount], [PaymentStatus], [Timestamp], [IsActive], [OrderID]) VALUES (4, 51, N'pay_P5GunmkdIUVKi1', N'order_P5GugbFLGuy4uu', CAST(629.99 AS Decimal(10, 2)), N'Success', CAST(N'2024-10-05T07:20:53.3569997' AS DateTime2), 1, 52)
INSERT [dbo].[Payments] ([TransactionId], [UserId], [RazorpayPaymentId], [RazorpayOrderId], [Amount], [PaymentStatus], [Timestamp], [IsActive], [OrderID]) VALUES (5, 51, N'pay_P5GvSbTfnJbupI', N'order_P5GvLEJaNKoQp4', CAST(629.99 AS Decimal(10, 2)), N'Success', CAST(N'2024-10-05T07:21:44.6484382' AS DateTime2), 1, 53)
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductReviews] ON 

INSERT [dbo].[ProductReviews] ([ReviewID], [Rating], [ReviewText], [ReviewDate], [ProductID], [UserID]) VALUES (1, 5, N'Excellent product! Totally worth the price.', CAST(N'2024-09-01T00:00:00.000' AS DateTime), 5, 1)
INSERT [dbo].[ProductReviews] ([ReviewID], [Rating], [ReviewText], [ReviewDate], [ProductID], [UserID]) VALUES (2, 4, N'Good quality, but the packaging was slightly damaged.', CAST(N'2024-09-02T00:00:00.000' AS DateTime), 4, 2)
INSERT [dbo].[ProductReviews] ([ReviewID], [Rating], [ReviewText], [ReviewDate], [ProductID], [UserID]) VALUES (3, 3, N'Average performance, expected more for the price.', CAST(N'2024-09-03T00:00:00.000' AS DateTime), 3, 3)
INSERT [dbo].[ProductReviews] ([ReviewID], [Rating], [ReviewText], [ReviewDate], [ProductID], [UserID]) VALUES (9, 3, N'The kettle works fine, but it\''s a bit noisy.', CAST(N'2024-09-02T00:00:00.000' AS DateTime), 9, 9)
INSERT [dbo].[ProductReviews] ([ReviewID], [Rating], [ReviewText], [ReviewDate], [ProductID], [UserID]) VALUES (16, 4, N'Good mat, doesn\''t slip during workouts.', CAST(N'2024-09-04T00:00:00.000' AS DateTime), 16, 6)
INSERT [dbo].[ProductReviews] ([ReviewID], [Rating], [ReviewText], [ReviewDate], [ProductID], [UserID]) VALUES (17, 5, N'Best cookware set I\''ve ever bought!', CAST(N'2024-09-02T00:00:00.000' AS DateTime), 17, 7)
INSERT [dbo].[ProductReviews] ([ReviewID], [Rating], [ReviewText], [ReviewDate], [ProductID], [UserID]) VALUES (29, 5, N'Best coffee maker I\''ve owned, perfect brew every time.', CAST(N'2024-09-02T00:00:00.000' AS DateTime), 29, 9)
SET IDENTITY_INSERT [dbo].[ProductReviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [Description], [Price], [StockQuantity], [ImageURL], [CreatedDate], [LastUpdatedDate], [IsActive], [SellerID], [CategoryID], [DiscountedPrice], [FlashSaleStart], [FlashSaleEnd]) VALUES (2, N'iPhone 13', N'Apple iPhone 13 with A15 Bionic chip and improved camera capabilities', CAST(45999.99 AS Decimal(18, 2)), 50, N'https://res.cloudinary.com/dahtekmsn/image/upload/v1728018284/61VuVU94RnL._SX679__o2xsnp.jpg', CAST(N'2024-10-01T00:00:00.000' AS DateTime), CAST(N'2024-10-25T07:15:23.047' AS DateTime), 1, 21, 10, NULL, NULL, NULL)
INSERT [dbo].[Products] ([ProductID], [ProductName], [Description], [Price], [StockQuantity], [ImageURL], [CreatedDate], [LastUpdatedDate], [IsActive], [SellerID], [CategoryID], [DiscountedPrice], [FlashSaleStart], [FlashSaleEnd]) VALUES (3, N'OnePlus 9', N'Affordable flagship with high refresh rate display and Snapdragon processor', CAST(27699.99 AS Decimal(18, 2)), 20, N'https://res.cloudinary.com/dahtekmsn/image/upload/v1728018334/61u9zN1HYCL._SX679__azsgge.jpg', CAST(N'2024-10-01T00:00:00.000' AS DateTime), CAST(N'2024-10-01T00:00:00.000' AS DateTime), 1, 21, 10, NULL, NULL, NULL)
GO
INSERT [dbo].[Products] ([ProductID], [ProductName], [Description], [Price], [StockQuantity], [ImageURL], [CreatedDate], [LastUpdatedDate], [IsActive], [SellerID], [CategoryID], [DiscountedPrice], [FlashSaleStart], [FlashSaleEnd]) VALUES (144, N'ELLE Women Flatform Heels Sandals', N'A pair of beige sandals ,has regular ankle and backstrap
Synthetic solid upper with other
Cushioned footbed
Textured and patterend outsole, has a platform
Warranty: 15 days
Warranty provided by brand/manufacturer', CAST(1619.00 AS Decimal(18, 2)), 800, N'https://res.cloudinary.com/dahtekmsn/image/upload/v1730180876/bxabvpgwgb1wr6xgnzah.webp', CAST(N'2024-10-29T11:17:56.780' AS DateTime), CAST(N'2024-10-29T06:46:18.373' AS DateTime), 1, 23, 16, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
INSERT [dbo].[SellerDashboards] ([DashboardID], [TotalSales], [TotalOrders], [TotalProducts], [TotalRevenue], [LastLogin], [IsActive]) VALUES (21, CAST(150000.00 AS Decimal(18, 2)), 100, 50, CAST(200000.00 AS Decimal(18, 2)), CAST(N'2023-09-01T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[SellerDashboards] ([DashboardID], [TotalSales], [TotalOrders], [TotalProducts], [TotalRevenue], [LastLogin], [IsActive]) VALUES (22, CAST(250000.00 AS Decimal(18, 2)), 200, 100, CAST(300000.00 AS Decimal(18, 2)), CAST(N'2023-09-02T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[SellerDashboards] ([DashboardID], [TotalSales], [TotalOrders], [TotalProducts], [TotalRevenue], [LastLogin], [IsActive]) VALUES (23, CAST(300000.00 AS Decimal(18, 2)), 150, 75, CAST(400000.00 AS Decimal(18, 2)), CAST(N'2023-09-03T00:00:00.000' AS DateTime), 1)
GO
INSERT [dbo].[Sellers] ([SellerID], [CompanyName], [ContactPerson], [ContactNumber], [Address], [StoreDescription], [IsActive]) VALUES (21, N'Tech Gadgets', N'Arvind Kumar', N'9876543211', N'123, MG Road, Chennai, Tamil Nadu, 600001', N'Your one-stop shop for the latest gadgets and electronics.', 1)
INSERT [dbo].[Sellers] ([SellerID], [CompanyName], [ContactPerson], [ContactNumber], [Address], [StoreDescription], [IsActive]) VALUES (22, N'Fashion Hub', N'Sneha Patel', N'9876543212', N'234, Anna Salai, Chennai, Tamil Nadu, 600002', N'Trendy fashion wear for all ages.', 1)
INSERT [dbo].[Sellers] ([SellerID], [CompanyName], [ContactPerson], [ContactNumber], [Address], [StoreDescription], [IsActive]) VALUES (23, N'Home Essentials', N'Ravi Suresh', N'9876543213', N'345, T. Nagar, Chennai, Tamil Nadu, 600017', N'Everything you need for a cozy home.', 1)
GO
SET IDENTITY_INSERT [dbo].[ShoppingCarts] ON 

INSERT [dbo].[ShoppingCarts] ([CartID], [CreatedDate], [UserID]) VALUES (1, CAST(N'2024-10-04T22:49:29.460' AS DateTime), 51)
INSERT [dbo].[ShoppingCarts] ([CartID], [CreatedDate], [UserID]) VALUES (2, CAST(N'2024-10-25T11:18:30.720' AS DateTime), 53)
SET IDENTITY_INSERT [dbo].[ShoppingCarts] OFF
GO
SET IDENTITY_INSERT [dbo].[SubscribedUsers] ON 

INSERT [dbo].[SubscribedUsers] ([SubscribedUserID], [Email]) VALUES (1, N'kiruthikav2022@gmail.com')
SET IDENTITY_INSERT [dbo].[SubscribedUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[UserDiscounts] ON 

INSERT [dbo].[UserDiscounts] ([UserDiscountID], [UserID], [DiscountCode], [IsActive], [AppliedAt]) VALUES (1, 53, N'SUMMER2024', 1, CAST(N'2024-10-25' AS Date))
SET IDENTITY_INSERT [dbo].[UserDiscounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Email], [Password], [Role], [CreatedDate], [LastLogin], [ResetToken], [TokenExpiration], [IsActive]) VALUES (1, N'customer1', N'customer1@example.com', N'Password123!', N'Customer', CAST(N'2024-01-01T10:00:00.000' AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[Users] ([UserID], [Username], [Email], [Password], [Role], [CreatedDate], [LastLogin], [ResetToken], [TokenExpiration], [IsActive]) VALUES (2, N'customer2', N'customer2@example.com', N'Password123!', N'Customer', CAST(N'2024-01-02T11:00:00.000' AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[Users] ([UserID], [Username], [Email], [Password], [Role], [CreatedDate], [LastLogin], [ResetToken], [TokenExpiration], [IsActive]) VALUES (3, N'customer3', N'customer3@example.com', N'Password123!', N'Customer', CAST(N'2024-01-03T12:00:00.000' AS DateTime), NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[WishlistItems] ON 

INSERT [dbo].[WishlistItems] ([WishlistItemID], [ProductID], [WishlistID]) VALUES (1, 3, 1)
INSERT [dbo].[WishlistItems] ([WishlistItemID], [ProductID], [WishlistID]) VALUES (35, 9, 1)
INSERT [dbo].[WishlistItems] ([WishlistItemID], [ProductID], [WishlistID]) VALUES (37, 8, 2)
SET IDENTITY_INSERT [dbo].[WishlistItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Wishlists] ON 

INSERT [dbo].[Wishlists] ([WishListID], [UserID]) VALUES (1, 51)
INSERT [dbo].[Wishlists] ([WishListID], [UserID]) VALUES (2, 53)
SET IDENTITY_INSERT [dbo].[Wishlists] OFF
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_CustomerDetails_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CustomerDetails] ([CustomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_CustomerDetails_CustomerID]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Products_ProductID]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_ShoppingCarts_CartID] FOREIGN KEY([CartID])
REFERENCES [dbo].[ShoppingCarts] ([CartID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_ShoppingCarts_CartID]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Categories_ParentCategoryId] FOREIGN KEY([ParentCategoryId])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_Categories_ParentCategoryId]
GO
ALTER TABLE [dbo].[ColorVariations]  WITH CHECK ADD  CONSTRAINT [FK_ColorVariations_Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ColorVariations] CHECK CONSTRAINT [FK_ColorVariations_Products_ProductID]
GO
ALTER TABLE [dbo].[CustomerDetails]  WITH CHECK ADD  CONSTRAINT [FK_CustomerDetails_Users_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CustomerDetails] CHECK CONSTRAINT [FK_CustomerDetails_Users_CustomerID]
GO
ALTER TABLE [dbo].[Inventories]  WITH CHECK ADD  CONSTRAINT [FK_Inventories_Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inventories] CHECK CONSTRAINT [FK_Inventories_Products_ProductID]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders_OrderID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders_OrderID]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Products_ProductID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Address_BillingAddressID] FOREIGN KEY([BillingAddressID])
REFERENCES [dbo].[Address] ([AddressID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Address_BillingAddressID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Address_ShippingAddressID] FOREIGN KEY([ShippingAddressID])
REFERENCES [dbo].[Address] ([AddressID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Address_ShippingAddressID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Discounts_DiscountID] FOREIGN KEY([DiscountID])
REFERENCES [dbo].[Discounts] ([DiscountID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Discounts_DiscountID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Sellers_SellerID] FOREIGN KEY([SellerID])
REFERENCES [dbo].[Sellers] ([SellerID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Sellers_SellerID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users_UserID]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Orders_OrderID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Orders_OrderID]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Users_UserId]
GO
ALTER TABLE [dbo].[ProductReviews]  WITH CHECK ADD  CONSTRAINT [FK_ProductReviews_Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductReviews] CHECK CONSTRAINT [FK_ProductReviews_Products_ProductID]
GO
ALTER TABLE [dbo].[ProductReviews]  WITH CHECK ADD  CONSTRAINT [FK_ProductReviews_Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ProductReviews] CHECK CONSTRAINT [FK_ProductReviews_Users_UserID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories_CategoryID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Sellers_SellerID] FOREIGN KEY([SellerID])
REFERENCES [dbo].[Sellers] ([SellerID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Sellers_SellerID]
GO
ALTER TABLE [dbo].[SalesData]  WITH CHECK ADD  CONSTRAINT [FK_SalesData_Orders_OrderID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SalesData] CHECK CONSTRAINT [FK_SalesData_Orders_OrderID]
GO
ALTER TABLE [dbo].[SellerDashboards]  WITH CHECK ADD  CONSTRAINT [FK_SellerDashboards_Sellers_DashboardID] FOREIGN KEY([DashboardID])
REFERENCES [dbo].[Sellers] ([SellerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SellerDashboards] CHECK CONSTRAINT [FK_SellerDashboards_Sellers_DashboardID]
GO
ALTER TABLE [dbo].[Sellers]  WITH CHECK ADD  CONSTRAINT [FK_Sellers_Users_SellerID] FOREIGN KEY([SellerID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sellers] CHECK CONSTRAINT [FK_Sellers_Users_SellerID]
GO
ALTER TABLE [dbo].[ShippingDetails]  WITH CHECK ADD  CONSTRAINT [FK_ShippingDetails_Orders_OrderID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[ShippingDetails] CHECK CONSTRAINT [FK_ShippingDetails_Orders_OrderID]
GO
ALTER TABLE [dbo].[ShoppingCarts]  WITH CHECK ADD  CONSTRAINT [FK_ShoppingCarts_Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShoppingCarts] CHECK CONSTRAINT [FK_ShoppingCarts_Users_UserID]
GO
ALTER TABLE [dbo].[WishlistItems]  WITH CHECK ADD  CONSTRAINT [FK_WishlistItems_Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WishlistItems] CHECK CONSTRAINT [FK_WishlistItems_Products_ProductID]
GO
ALTER TABLE [dbo].[WishlistItems]  WITH CHECK ADD  CONSTRAINT [FK_WishlistItems_Wishlists_WishlistID] FOREIGN KEY([WishlistID])
REFERENCES [dbo].[Wishlists] ([WishListID])
GO
ALTER TABLE [dbo].[WishlistItems] CHECK CONSTRAINT [FK_WishlistItems_Wishlists_WishlistID]
GO
ALTER TABLE [dbo].[Wishlists]  WITH CHECK ADD  CONSTRAINT [FK_Wishlists_Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Wishlists] CHECK CONSTRAINT [FK_Wishlists_Users_UserID]
GO
